.galery {
  padding-bottom: 80px;

  &__header {
    text-align: center;
    font-family: Ordina regular;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.52px;

    margin-bottom: 32px;
  }

}
