@use "../../../styles/globals.scss" as *;

.wrapper {
  position: relative;
  height: 1px;
  @include pageGrid;
  justify-items: center;
}

.counter {
  position: absolute;
  padding: 20px;

  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  
  width: 100%;
  max-width: 856px;

  background-color: #fdfcfa;

  transform: translateY(-50%);


  &__block {
    display: flex;
    gap: 24px;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 40%;
    position: relative;
  
    @include onTablet {
      flex-basis: 20%;
      gap: 32px;
  
      &:not(:last-child)::after {
        content: "";
        position: absolute;
        right: -21px;
        top: 0;
        bottom: 0;
        width: 1px;
        background-color: #c6a687;
      }
    }
  }

  &__lineHorisontal {
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    height: 1px;
    background-color: #c6a687;

    @include onTablet {
      display: none;
    }
  }

  &__lineVertical {
    position: absolute;
    left: 50%;
    top: 20px;
    bottom: 20px;
    width: 1px;
    background-color: #c6a687;
  }

  &__number {
    font-family: Ordina regular;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 23.4px */
    letter-spacing: -0.18px;
    color: #1e1e21;
  }

  &__description {
    font-family: Ordina light;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 15.4px */
    letter-spacing: -0.14px;
    color: #494843;
  }
}
